<div class="nav-bar-desktop lg:block hidden">
  <img src="{{ logo.url }}">
  <div class="">
    <a class="flex-1">Home</a>
    <a class="flex-2">Menu</a>
    <a class="flex-3">Cart</a>
    <a class="flex-4">Order</a>
  </div>
</div>

<div class="nav-bar-mobile lg:hidden block">
  <ul>
    <li>Home</li>
    <li>Menu</li>
    <li>Cart</li>
    <li>Order</li>
  </ul>
</div>
