<button class="btn btn-primary mt-4" id="show-modal" @click="showModal = true">Registration</button>
<!-- use the modal component, pass in the prop -->
<registration-form v-if="showModal" @close="showModal = false">
  <slot name="csrf-token">
    {{ csrfInput() }}
  </slot>
</registration-form>
