@import "theme";//define the theme
@import "boostrap";//partial load bootstrap css
//@import '~bootstrap/scss/bootstrap'; // import all
@import "bootstrap-vue";//partial load bootstrap-vue css
//@import '~bootstrap-vue/src/index.scss'; // import all
@import "global";//overwrite some global variables

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
